# <br>

#### 0. 특정 함수에 대해 궁금할 때

In [1]:
# Shift + Enter : 셀의 실행
# Shift + Tap : 함수 & 변수의 Docstring 확인

print()

In [2]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [3]:
# 이것은 주석입니다.

<br>

#### 1. 기초 데이터 타입

#### 정수형(integer)과 실수형(floats)

In [4]:
x = 9

In [5]:
print(x)

9

In [6]:
type(x)

int

In [7]:
x + 1

10

In [8]:
x * 2

18

In [9]:
x ** 2 # 제곱 연산

81

In [10]:
x / 2 # 몫, 소수점까지 계산

4.5

In [11]:
x // 2 # 몫, 정수로만 계산

4

In [12]:
x % 2 # 나머지

1

In [13]:
x += 1
x

10

In [14]:
x *= 2 # 곱하여 변수에 그대로 담기
x

20

In [15]:
y = 2.5

In [16]:
type(y) # 어떤 타입일까요?

float

In [17]:
# y를 정수 자료형으로 바꾸려면?
int(y) # from float to integer

2

In [18]:
x = 9 
float(x)

9.0

In [19]:
print(y, y+1, y*2, y**2)

2.5 3.5 5.0 6.25

In [20]:
x = 3.14
int(x) # from float to integer

3

#### 문자열 (string)

In [175]:
s = "Hello"

In [22]:
type(s)

str

In [23]:
len(s) # 길이를 영어로 하면? (앞 3글자)

5

In [24]:
s.upper()

'HELLO'

In [186]:
print(s.istitle(),s.capitalize())

False Hello

In [25]:
s.lower() # 모두 소문자로

'hello'

In [26]:
print("My name is {}".format("Groot"))

My name is Groot

In [27]:
print("Hello" + " " + "world") # 문자열 합치기

Hello world

In [28]:
temp = "Python"

In [29]:
# temp()
# temp[?]

# ? <-  :
# ? <-  :

In [30]:
temp[0]

'P'

In [31]:
temp[0:4]

'Pyth'

In [32]:
temp[4:]

'on'

In [33]:
temp[-1]

'n'

In [34]:
temp = "Python is easy"
temp.split() # str을 특정한 문자(기본값:여백)를 기준으로 잘라내어 list로 만들어줍니다. (이 때 기준이 되는 해당 문자는 삭제됩니다.)

['Python', 'is', 'easy']

In [35]:
temp = "Python is easy"
temp.split('s') # 's'를 기준으로 자르려면?

['Python i', ' ea', 'y']

In [188]:
temp = ['Python', 'is', 'easy']
'___'.join(temp)

'Python___is___easy'

In [37]:
' '.join(temp) # "Python is easy" 와 같이 합치려면?

'Python is easy'

In [191]:
x = 214
int(x) # Integer to string

(214+0j)

#### 참/거짓 (bool)

In [39]:
t = True
f = False

In [40]:
type(t)

bool

In [41]:
print(t and f)

False

In [42]:
print(t or f)

True

In [43]:
print(not t)

False

<br>

#### 2. 함수 (function, method)

In [44]:
# 2개의 숫자를 외부로부터 받아 합친 값을 돌려주는 함수 add_nums 만들기
def add_nums(a,b):
    return a+b

In [45]:
add_nums(2, 3)

5

In [46]:
# Quiz 1. 성과 이름을 받아 이름을 출력해주는 함수 name_creator 만들기
def name_creator(s1,s2):
    name=s1+s2
    return name

In [47]:
name_creator("그", "루트")

'그루트'

In [48]:
# Quiz 2. 다음 함수는 에러를 출력합니다. 어디를 고쳐야할까요?
def drink():
    beverage = "Coke"
    print(beverage)

## Shift + Tab : 함수 이름 뒤에서는 Docstring 호출, 블록 지정 후에는 내어쓰기

In [49]:
# Quiz 3. 원의 반지름을 받아 원의 넓이를 Return 해주는 함수 circle_area 만들기 (ㅠ = 3.14)

def circle_area(r):
    return r**2*3.14

In [50]:
circle_area(10)

314.0

<br>

#### 3. 컨테이너 (다른 변수들을 담을 수 있는 자료형)
list, dict, tuple, set

In [51]:
# list -> a = [ v1, v2, ... ]
# dict -> b = { k1:v1, k2:v2 , ... }
# tuple 
# set -> x=set{ v1, v2, v3, v4, ...}

In [52]:
# CRUD
# Create, Read, Update, Delete

#### 리스트 (list)

In [53]:
x = [3, 1, 2, 4, 6] # 리스트의 생성
x

[3, 1, 2, 4, 6]

In [54]:
x[0]

3

In [55]:
x[0:3] # [3, 1, 2] 를 출력하려면?

[3, 1, 2]

In [56]:
x[1:] # 1부터 끝까지?

[1, 2, 4, 6]

In [57]:
x[-1]

6

In [58]:
x.append("어머나") # 리스트 item 추가하기
x

[3, 1, 2, 4, 6, '어머나']

In [59]:
x.pop() # 기본적으로 리스트의 마지막 요소를 삭제하고 반환 (pop(n) -> index 기반으로 n번째 아이템을 삭제할 수도 있음)

'어머나'

In [60]:
x

[3, 1, 2, 4, 6]

In [61]:
# 리스트 아이템의 삭제 
# 1) 데이터의 순서/자리를 활용하여 삭제할 때 : del == index를 활용 (추천)
# 2) 데이터 값 자체를 활용하여 삭제할 때 : remove() == value를 활용
# 3) 삭제 후 삭제한 값을 리턴받아 활용해야할 때 : pop() == index를 활용

In [62]:
del x[0] # 삭제의 영어 단어 앞 3글자? 
x

[1, 2, 4, 6]

In [63]:
x.remove(4)
x

[1, 2, 6]

In [64]:
# 리스트 합치기
y = [3, 4, 5]
z = x + y # 쉽게 생각해보세요 :)
z

[1, 2, 6, 3, 4, 5]

In [65]:
#z1=sorted(z)
#print(z1)

In [66]:
# 리스트 정렬하기
z.sort()
z

[1, 2, 3, 4, 5, 6]

In [67]:
# 리스트 역으로 정렬하기
z.sort(reverse=True) # '거꾸로' 를 영어로 하면?
z

[6, 5, 4, 3, 2, 1]

#### 딕셔너리 (dict)

In [68]:
cage = {'Cat' : '야옹', 'Dog' : '멍멍'} # {key:value, key:value, ...}
cage

{'Cat': '야옹', 'Dog': '멍멍'}

In [ ]:
cage['Cat'] # key 기반 호출 # pandas.DataFrame -> 열 이름 == key

In [70]:
cage.get('Cat') # '얻다'

'야옹'

In [71]:
cage.get('Fish', '집나감') # 어떤 결과가 나올까요?
# 주어진 key 값이 없을 때 , 뒤 값을 출력

'집나감'

In [72]:
print('Cat' in cage) # key 유무 체크
# print('Cat' in cage.keys())

True

In [73]:
cage['Pig'] = '꿀꿀' # dict에 새로운 item 추가하기
cage

{'Cat': '야옹', 'Dog': '멍멍', 'Pig': '꿀꿀'}

In [74]:
del cage['Pig'] # 삭제의 영어 단어 앞 3글자?
cage

{'Cat': '야옹', 'Dog': '멍멍'}

In [75]:
cage.keys()
# list(cage.keys())

dict_keys(['Cat', 'Dog'])

In [76]:
cage.values() # value들을 꺼내려면?

dict_values(['야옹', '멍멍'])

In [77]:
cage.items()

dict_items([('Cat', '야옹'), ('Dog', '멍멍')])

#### 튜플(tuple) 
값과 크기가 변하지 않음

In [78]:
t = (5, 6)
type(t)

tuple

In [79]:
t[0]

5

In [80]:
# 튜플이 사용되는 예시

def return_tuple(x, y):
    return x, y

In [81]:
what = return_tuple(3, 4)
what

(3, 4)

#### 집합(set)
중복을 허용하지 않음

In [82]:
s = {1, 2, 3, 3, 4, 4, 5} 
s

{1, 2, 3, 4, 5}

In [83]:
temp = [1, 2, 3, 3, 4, 4, 5]
temp

[1, 2, 3, 3, 4, 4, 5]

In [84]:
# 리스트 temp 에서 중복을 제거하고, 다시 리스트로 만드려면?

what = list(set(temp))
what

[1, 2, 3, 4, 5]